@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 260 14% 96%;
      --foreground: 0 90% 4%;
      --card: 260 14% 96%;
      --card-foreground: 0 90% 4%;
      --popover: 260 14% 96%;
      --popover-foreground: 0 90% 4%;
      --primary: 351 53% 67%;
      --primary-foreground: 0 90% 4%;
      --secondary: 351 80% 92%;
      --secondary-foreground: 0 90% 4%;
      --muted: 261 14% 20%;
      --muted-foreground: 0 90% 70%;
      --accent: 351 81% 52%;
      --accent-foreground: 0 90% 4%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 0 90% 4%;
      --border: 261 14% 20%;
      --input: 261 14% 20%;
      --ring: 351 81% 40%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 260 14% 4%;
      --foreground: 0 90% 96%;
      --card: 260 14% 4%;
      --card-foreground: 0 90% 96%;
      --popover: 260 14% 4%;
      --popover-foreground: 0 90% 96%;
      --primary: 351 53% 33%;
      --primary-foreground: 0 90% 96%;
      --secondary: 351 80% 8%;
      --secondary-foreground: 0 90% 96%;
      --muted: 261 14% 80%;
      --muted-foreground: 0 90% 96%;
      --accent: 351 81% 48%;
      --accent-foreground: 260 14% 4%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 0 88% 10%;
      --border: 259 14% 60%;
      --input: 261 14% 80%;
      --ring: 351 81% 60%;
    }
  }